pid_file={{pid_file}}
server_port={{server_port}}
nrpe_user={{nagios}}
nrpe_group={{nagios}}
dont_blame_nrpe={{dont_blame_nrpe}}
debug={{debug}}
command_timeout={{command_timeout}}
allowed_hosts={{allowed_hosts}}
server_address={{ansible_default_ipv4['address']}}

